# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go build command
go/engine

# Go workspace file
go.work

# Project-specific binaries
bin/

# Dependency directories (only if you happen to run go mod vendor)
vendor/

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# --- Ansible ---
*.retry
ansible/k3s-homelab.yaml
ansible/*.yaml
ansible/redis-secret.yaml
*.tar

# --- Docker ---
.env
# Optional: data folders if you mount volumes locally
# redis-data/

# --- Operating System ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# --- IDEs ---
.vscode/
.idea/
*.swp
*.swo
